// Vermelhos
$redLight: #D9262A;
$red: #C52328;
$redDark: #932023;

// Cinzas
$grayLight: #6C8693;
$gray: #4C5E67;
$grayDark: #364349;

// Azuis
$blueLight: #269ED9;
$blue: #228BC3;
$blueDark: #1F6D93;

// Base
$black: #000;
$white: #FFF;
$gradient: linear-gradient(90deg, #7CB649 0%, #F6AD19 23.94%, #2291CF 43.56%, #9A2A87 64.07%, #EB5C28 83.46%, #C1292E 102.38%);
$cortModal:#364349bd;
$gradientRgba:linear-gradient(90deg, rgba(124, 182, 73, 0.60) 0%, rgba(246, 173, 25, 0.60) 23.94%, rgba(34, 145, 207, 0.60) 43.56%, rgba(154, 42, 135, 0.60) 64.07%, rgba(235, 92, 40, 0.60) 83.46%, rgba(193, 41, 46, 0.60) 102.38%);