// @media #{$variável_breakpoint} {}


$small: "only screen and (max-width : 375px)";
$mobile: "only screen and (max-width : 575px)";
$mobile-extra: "only screen and (min-width: 601px) and (max-width: 767px)";
$tablet: "only screen and (min-width: 768px) and (max-width : 1024px)";
$tablet-extra: "only screen and (min-width: 768px) and (max-width: 1023px)";
$desktop: "only screen and (min-width: 1025px)";
$hd: "only screen and (min-width : 1500px)";