.modal{
    .backdrop{
        .modalSty{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            max-height: 90vh;

            .imgmodal{
                width: 100%;
                height: 180px;
            }
            button{
                z-index: 99;
                left: 89%;
            }
            .modalsobretexto{
                padding: 30px;
                p{
                    margin-bottom: 16px;
                }
            }
        }
    }
}