// .galeria{
//     margin: 32px 0 96px;

    .slick-slider{
        display: flex;
        align-items: center;
    
        .slick-dots li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #F2F1F1;
        }
        .slick-dots li button:before{
                background: $gradient;
                border-radius: 50%;
                width: 10px;
                height: 10px;
        }
        .slick-dots li button:before{
                color:none;
        }
        button:before{
                color:transparent;
        }
        img{
                width: 100%;
        }
        .slick-next:before{
                display: none;
                right: 0;
    
        }
        .slick-prev:before{
                display: none;
                left: 0;
        }
        .slick-next{
                right: 0;
              }
              .slick-prev{
                left: 0 ;
              }
              
        .slick-dots li.slick-active button:before{
                color: transparent;
                
        }
        .slick-dots li button:before{
            opacity: 0;
        }
        .slick-next{
                display: none;
        }
    }
// }    

  @media(max-width: 768px){
      .galeria{
          margin-bottom: 64px;
      }
  }
 